body{
	color: #4d4d4d;
	font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
	line-height: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	color: #4d4d4d;
}	