@import "variables";
@import "default";
@import "topbar";

@import "switch";

body{
	min-height: 100%;
	max-width: 100%;
	min-width: 1286px;
	background-color: #E5E5E5;
}

.page-wrapper{
	height: 600px;
	min-width: 1226px;
	margin: 15px 30px 0px 30px;
	position: relative;
}	

.objetcs-section{
	width: 265px;
	position: absolute;
	top: 0;
	left:0;

	.add{
		background-color: #d6dadc;
		color: #4d4d4d;
		margin-left: 25px;
		padding: 5px 10px;
		position: absolute;
		right: 20px;
		top: 15px;
		line-height: 15px;
		
		&:hover{
			background-color: #c4c9cc;
			color: #4d4d4d;
		}
	}

	.filter-form{
		margin-top: 20px;

		label{
			font-size: 16px;
		}
	}

	.side-nav{
		position: absolute;
		top: 135px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;

		li a:not(.button){
			color: #4d4d4d;

			&:hover{
				background: #d6dadc;
				color: #4d4d4d;
			}

			.state{
				right: 15px;
				position: absolute;
				width: 15px;
				height: 16px;
				margin-top: 3px;
				
				&.on{
					background-color: #70b500;
				}

				&.off{
					background-color: #eb5a46;
				}

			}
		}
	}
}

.main-section{
	min-width: 950px;
	position: absolute;
	top: 0;
	right: 0; 
	left: 0;
	margin-left: 285px;

	.goal-container{
		margin-top: 20px;

		.goal{
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 22px;
		
			& + .goal{
				margin-left: 50px;
			}

		}

		.progress{
			margin-top: 10px;
			margin-bottom: 20px;
			width: 550px;
			background-color: #d6dadc;
			height: 15px;
			
			.meter{
				background: #026aa7;
			}
		}

		.month{
			font-size: 16px;
		}

		.month-select{
			width: 150px;
			margin-left: 10px;
		}

	}

	.tab-container{

		position: absolute;
		bottom: 20px;
		right: 20px;
		left: 20px;
		top: 180px;

		.tabs .tab-title.active a{
			border-bottom: 2px solid #026aa7;

			&:hover{
				border-bottom: 2px solid #026aa7;
			}
		}

		.tabs .tab-title > a{
			background-color: white;
			border-bottom: 2px solid white;
			padding: 8px 16px;
			margin-right: 5px;

			&:hover{
				border-bottom: 2px solid #026aa7;
			}
		}

		.chart-container{
			margin-left: 20px;
		}

	}

	.object-container{
		margin-top: 16px;

		.obj-desc{
			width: 400px;
			display: inline-block;
			height: 75px;
		}

		.Switch{
			position: absolute;
			top: 70px;
			left: 610px;
			width: 190px;
			height: 50px;
			

			.Toggle{
				background: none;
				background-color: #ffffff;
				border: 1px solid #ffffff;
				box-shadow: none;
			}

			&.off{ 

				background: none;
				background-color: #eb5a46;
				border: 1px solid #eb5a46;
				box-shadow: none;

				.Toggle{
					left: 50%;
				}	
			}

			&.on{

				background: none;
				background-color: #70b500;
				border: 1px solid #70b500;
				box-shadow: none;

				.Toggle{
					left: 2%;
				}	
			}

			.Toggle{
				width: 91px;
				height: 42px;
				top: 3px;
			}
		}

		.chart-container{
			margin-top: 35px;
		}

	}
}

.section{
	height: 100%;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	border-top-width: 0;
	margin-bottom: 20px;
	padding: 10px 20px 0 20px;

	h3{
		font-size: 22px;

		&:before{
			content: '';
			display: inline-block;
			height: 30px;
			width: 30px;
			vertical-align: -8px;
			margin-right: 12px;
			background-size: 30px 30px;
    		background-repeat: no-repeat;
		}

		&.icon-plug:before{
			background-image: url("../img/plug-gray.png");
		}

		&.icon-battery:before{
			background-image: url("../img/battery-gray.png");
		}

	}
}

